<tr>
    <td>6546</td>
    <td>Jakaria</td>
    <td>Jakaria@gmail.com</td>
    <td>male</td>
    <td>Active</td>
    <td>
        <a href="/update-user" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="far fa-trash-alt"></i></span>
        </a>
    </td>
</tr>