<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/style.css"/>
</head>
<body>
    
    <!--header-->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">User Managment system</a>
                </div>
            </div>
        </nav>
    </header>
    <!--/header-->

    <!--main section-->
        <main id="site-main">
            <div class="container">
                <div class="box-nav d-flex-justify-between">
                   <div class="filter">
                    <a href="/add-user" class="border-shadow">
                        <span class="text-gradiant"><i class="fas fa-angle-double-left"></i> All User</span>
                    </a>
                   </div>
                </div>
                <div class="form-title text-center">
                    <h2 class="text-dark">New User</h2>
                    <span class="text-light">Use the below form to create a new account</span>
                </div>
                <!--form handling-->
                <form id="update_user" action="/" method="POST">
                    <div class="new_user">
                        <div class="form-group">
                            <label for="name" class="text-light">Name</label>
                            <input type="hidden" name="id" value=""/>
                            <input type="text" name="name" value="" placeholder="Jakaria Istauk"/>
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-light">Email</label>
                            <input type="email" name="email" value="" placeholder="example@gmail.com"/>
                        </div>
                        <div class="form-group">
                            <label for="gender" class="text-light">Gemder</label>
                            <div class="radio inline">
                                <input type="radio" name="gender" id="male" value="male"/>
                                <label class="radio-label" for="male">Male</label>
                            </div>
                            <div class="radio inline">
                                <input type="radio" name="gender" id="female" value="female"/>
                                <label class="radio-label" for="female">Female</label>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="gender" class="text-light">Status</label>
                            <div class="radio inline">
                                <input type="radio" name="status" id="active" value="active"/>
                                <label class="radio-label" for="active">Active</label>
                            </div>
                            <div class="radio inline">
                                <input type="radio" name="status" id="inactive" value="inactive"/>
                                <label class="radio-label" for="inactive">Inactive</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn text-dark update" value="Submit"/>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    <!--/main section-->

</body>
</html>